@font-face {
	font-family: "Plus Jakarta Sans";
	font-weight: bold;
	src: url("./fonts/PlusJakartaSans-Bold.woff2") format("woff2"),
		url("./fonts/PlusJakartaSans-Bold.woff") format("woff");
}

@font-face {
	font-family: "Plus Jakarta Sans";
	src: url("./fonts/PlusJakartaSans-Regular.woff2") format("woff2"),
		url("./fonts/PlusJakartaSans-Regular.woff") format("woff");
}

.App {
	background-color: var(--background-colour);
	color: var(--text-colour);

	min-height: 100vh;

	text-align: left;

	transition: color 0.1s, background-color 0.2s;
}

body {
	margin: 0;
}

main {
	padding: 3rem 5rem;

	max-width: 80rem;

	margin: 0 auto;
}

* {
	font-family: "Plus Jakarta Sans", "Helvetica", sans-serif;
}

.hidden {
	display: none;
}

// override default styles
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

.muted {
	opacity: 0.8;
}

// material ui links
.MuiLink-root {
	color: inherit !important;
	text-decoration: none !important;
}

// mobile
@media only screen and (max-width: 600px) {
	main {
		padding: 3rem 1rem;
	}
}
